@font-face {
  font-family: "Joystick";
  src: url("/assets/joystix-monospace.otf");
}
html, body {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
}
canvas {
  border: 10px solid white;
}